@media only screen and (max-width: 1340px) {
    
    .content,
    .site-header .widget-area {
        width: 800px;
    }

    .sidebar-primary {
        width: 300px;
    }
}


@media only screen and (max-width: 1200px) {

    .content,
    .site-header .widget-area {
        width: 620px;
    }
}

@media only screen and (max-width: 1023px) {

    .content,
    .sidebar-primary,
    .sidebar-secondary,
    .site-header .widget-area,
    .title-area {
        width: 100%;
    }

    .site-header .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header-image .title-area,
    .site-header ul.genesis-nav-menu,
    .site-header .search-form {
        float: none;
    }

    .site-description,
    .site-header .title-area,
    .site-header .widget-area,
    .site-title {
        text-align: center;
    }

    .site-header .search-form {
        margin: 16px auto;
    }

}

@media only screen and (max-width: 860px) {
    body > div {
        font-size: 1.8rem;
    }

    body {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .site-inner {
        padding: 5% 5% 0;
    }

    .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

    .after-entry,
    .archive-description,
    .author-box,
    .comment-respond,
    .entry,
    .entry-comments,
    .entry-pings,
    .sidebar .widget {
        padding: 30px;
        margin-bottom: 5%;
    }

    .sidebar {
        margin-bottom: 5%;
    }

    .five-sixths,
    .four-sixths,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds,
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        margin: 0;
        width: 100%;
    }
}