//
// Button Styles
//

button,
.button {
  background-color: #333;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #c3251d;
  color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
  color: #fff;
}

.button {
  display: inline-block;
}

a.button.small,
button.small {
  padding: 8px 16px;
}

.site-container button:disabled,
.site-container button:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed;
}
