/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden;
  
  @media only screen and (max-width: $media--medium-screen) {
    border-width: 0;
    background-color: $color--nav-toggle--background;
    color: $color--nav-toggle;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    visibility: visible;
    
    &:hover,
    &:focus {
      border-width: 0;
    }
    
  }
  
}

@media only screen and (max-width: $media--medium-screen) {

  .menu-toggle {
    border-top: 1px solid #eee;
    line-height: 20px;
    position: relative;
    right: 0;
    z-index: 1000;
    width: 100%;
    
    &:before,
    &.activated:before {
      margin-right: 10px;
      text-rendering: auto;
      @include transform( translate(0, 0) );
    }
  }

  .site-header .menu-toggle {
    border: 0;
  }

  .sub-menu-toggle {
    float: right;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    &:before {
      display: inline-block;
      text-rendering: auto;
      @include transform( translate(0, 0) );
    }

    &.activated:before {
      content: "\f142";
    }
  }
    
}