//
// Base Navigation Styles
//

.genesis-nav-menu {
  clear: both;
  @include rem( font-size, $size--nav );
  font-weight: 600;
  line-height: 1;
  width: 100%;
  
  @media only screen and (max-width: $media--medium-screen) {
    text-align: center;
    
    li,
    .site-header ul & {
      float: none;
    }
  }
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

.genesis-nav-menu a {
  color: $color--primary-nav;
  text-decoration: none;
  display: block;
  padding: 32px 20px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
  color: $color--nav--hover;
  text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
     -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
     -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: $color--sub-menu--background;
  border: 1px solid #eee;
  border-top: 0;
  @include rem( font-size, $size--sub-menu );
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  float: right;
}