@media only screen and (max-width: $media--medium-screen) {
  
  .js {
    .genesis-nav-menu .sub-menu a,
    .genesis-nav-menu .sub-menu {
      width: 100%;
    }

    .genesis-nav-menu .menu-item:hover {
      position: relative;
    }

    .genesis-nav-menu .sub-menu {
      border: none;
    }

    .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
    .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
      left: 0;
      margin-left: 0;
    }

    .genesis-nav-menu > .menu-item-has-children > a:after {
      content: none;
    }

    .genesis-nav-menu .sub-menu {
      clear: both;
      display: none;
      margin: 0;
      opacity: 1;
      padding-left: 15px;
      position: static;
      width: 100%;
    }

    .genesis-nav-menu .sub-menu .sub-menu {
      margin: 0;
    }
  
    .genesis-nav-menu .menu-item,
    .genesis-nav-menu .menu-item {
      display: block;
      float: none;
      margin: 1px 0;
      position: relative;
      text-align: left;
    }

    .genesis-nav-menu .menu-item:hover {
      position: relative;
    }

    .nav-primary .genesis-nav-menu .menu-item a,
    .site-header .genesis-nav-menu .menu-item a {
      border: none;
      padding: 12px 0;
      width: 100%;
    }
    
    nav.nav-primary,
    .site-header nav {
      display: none;
      position: relative;
    }

    .site-header nav .wrap {
      padding: 0;
    }

    nav.pagination {
      display: block;
    }
  }
}