.author-box {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 60px;
  
  @media only screen and (max-width: $media--small-screen) {
    padding: 30px;
    margin-bottom: 5%;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
}

.author-box-title {
  font-size: 20px;
  font-size: 2rem;
}