/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
    background-color: $color--site-footer--background;
    @include rem( font-size, $size--footer );
    line-height: 1;
    padding: 60px 0;
    text-align: center;

    p {
        margin-bottom: 0;
    }

}