/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
    background-color: $footer-widgets__background-color;
    font-size: 18px;
    font-size: 1.8rem;
    clear: both;
    padding: 60px 0;
}