/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1280px;
  
  @media only screen and (max-width: $media--x-large-screen) {
    max-width: $width--max--x-large; // 1140px
  }
  
  @media only screen and (max-width: $media--large-screen) {
    max-width: $width--max--large; // 960px
  }
  
  @media only screen and (max-width: $media--medium-screen) {
    max-width: $width--max--medium; // 800px
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;
  
  @media only screen and (max-width: $media--small-screen) {
    padding: 5% 5% 0;
  }
  
}

.landing-page .site-inner {
  max-width: 800px;
}

@media only screen and (max-width: $media--small-screen) {

  .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  
}