/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $width--sidebar-primary; //360px
  
  @media only screen and (max-width: $media--x-large-screen) {
    width: $width--sidebar-primary--x-large; // 300px
  }
  
  @media only screen and (max-width: $media--medium-screen) {
    float: none;
    width: 100%;
  }
  
}

.sidebar-content .sidebar-primary {
  float: left;
}