//
// Base Widths
//
$width--gutter: 2.564102564102564%;
$width--max: 1280px;
$width--max--x-large: 1140px;
$width--max--large: 960px;
$width--max--medium: 800px;
$width--content: 880px;
$width--content--x-large: 800px;
$width--content--medium: 620px;

//
// Column Widths
//
$width--column--one-sixth: 14.52991452991453%;
$width--column--one-fourth: 23.076923076923077%;
$width--column--one-half: 48.717948717948715%;
$width--column--one-third: 31.623931623931625%;
$width--column--two-thirds: 65.81196581196582%;
$width--column--three-fourths: 74.35897435897436%;
$width--column--five-sixths: 82.90598290598291%;

//
// Component Widths
//
$width--header-image--title-area: 300px;
$width--sidebar-primary: 360px;
$width--sidebar-primary--x-large: 300px;
$width--footer-widgets: $width--column--one-third;