//
// Size Globals
//
$x-small: 14;
$small: 16:
$normal: 18;
$large: 20;
$x-large: 24;

$large-heading: 36;
$medium-heading: 30;
$small-heading: 24;

//
// Base
//
$size--base: $large; // 20
$size--base--mobile: snormal; // 18

//
// Header
//
$size--site-title: $medium-heading; // 30 

//
// Navigation
//
$size--nav: $small; // 16
$size--sub-menu: $x-small; // 14
$size--pagination: $small; // 16

//
// Entry Content
//
$size--entry-title: $large-heading; // 36
$size--comments: $small; // 16
$size--entry-meta: $small;

//
// Post Elements
//
$size--blockquote: 30;
$size--breadcrumbs: $small; // 16
$size--wp-caption: $x-small; // 14

//
// Widgets
//
$size--sidebar: $small; // 16
$size--widget-title: $small;
$size--featured-content--title: $large; // 20

//
// Plugins
//
$size--enews: $small; // 16

//
// Footer
//
$size--footer: $small; // 16
$size--footer-widgets: $normal; // 18